#header h1 {
      background-image: url(/assets/media/tn-merke.png);
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 3.4em 3.4em;
      padding-top:68px;
      margin-bottom:50px;
   }

#header h1 a {
    visibility: hidden;
}